.searchPage {
  width: 730px;
  padding: 0;
  &__container {
    width: 100%;
    padding: 0;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    padding: 0 53px;
    h2 {
      color: #222731;
      font-family: Space Mono;
      font-size: 26px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin: 0;
    }
    button {
      color: #697c9a;
      text-align: right;
      font-family: Space Mono;
      font-size: 13px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 2.5px;
      margin: 0;
    }
  }
}

.theme {
  background-color: transparent;
  border: 0;
  color: grey;
}
