@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  /* COLORS */

  /* light mode colors */
  --light-blue: #0079ff;
  --light-gray: #697c9a;
  --light-bluegray: #4b6a9b;
  --light-smoke: #f6f8ff;
  --light-dark: #2b3442;
  --light-white: #fefefe;

  // typography
  --font-family: Space Mono;

  --font-regular: 400;
  --font-bold: 700;

  --text-size-1: 13px;
  --text-size-2: 15px;
  --text-size-3: 16px;
  --text-size-4: 18px;
  --text-size-5: 22px;
  --text-size-6: 26px;

  --text-height: 25px;
  --title-height: normal;
}

* {
  padding: 0 auto;
  margin: 20px auto;
  box-sizing: border-box;
}
html[data-theme="dark"] {
  // dark mode colors
  --dark-blue: var(--light-blue);
  --dark-white: #ffff;
  --dark-black: #141d2f;
  --dark-dark: #1e2a47;
}
h1,
h2,
h3,
h4,
h5 {
  padding: 0 auto;
  margin: 0 auto;
  font-weight: normal;
}
p {
  padding: 0 auto;
  margin: 0 auto;
}

a {
  text-decoration: none;
  padding: 0 auto;
  margin: 0 auto;
}
